<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Edit <%= Coin.name %></h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/coins/<%=Coin._id%>?_method=PUT" method="POST" enctype="multipart/form-data">	
				<div class="form-group">	
					<input class="form-control" type="text" value="<%=Coin.name%>" name="name">	
				
					<input class="form-control" type="text" value="<%=Coin.acronym%>" name="acronym" maxlength="5" minlength="3" size="3">	
					
					<input class="form-control" type="text" name="description" id="description" value="<%= Coin.description %>">
					
					<input class="form-control" type="text" name="video" id="video" value="<%= Coin.video%>" />
					
					<label class="form-control" for="icon">Choose an icon to upload(PNG)</label>
					<input class="form-control" type="file" name="icon" id="icon" accept=".png">
					
					<button class="btn btn-lg upload-btn btn-block">Submit!</button>
				</div>
				<a href="/coins/<%=Coin._id%>">Go Back</a>
			</div>
		</form>
	</div>
</div>


<% include ../partials/footer %>