<% include ../partials/header %>

<section class="container">
	<div class="thumbnail" style="padding: 0">
		<div class="row">
			<div class="col-md-3 col-sm-3">

				<div class="list-group" id="grupo-lista">
					<li class="list-group-item"><%=Coin.name%> - <img src="<%= Coin.icon %>" alt="Bitcoin logo"  style="width: 12%;"> </li>
					<li class="list-group-item"><a href="/coins">Back</a></li>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<p id="coin-description"><%= Coin.description%></p>
			</div>
			<div class="col-md-5 col-sm-5">
				<iframe width="100%" height="350" src="<%=Coin.video%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="text-right">
			<a href="/coins/<%= Coin.acronym %>/comments/new" class="btn btn-primary bt-lg">Comment</a>
		</div>
		<hr>
		<% Coin.comments.forEach((comment) => { %>	
		<div class="form-group row">
			<div class="col-md-12 col-sm-12 text-left">									
				<strong><%= comment.author %></strong>
				<span class="pull-right">10 days ago</span>	
				<p>
					<%= comment.text %>
				</p>								
			</div>
		</div>
		<%});%>

	</div>
</div>


</section>

<% include ../partials/footer %>
